

.login-form{
    /* margin-top: ;  */
    width: 340px;
         margin:  100px  auto auto auto;
 }
 .form-group{
     /* padding-left: 60px; */
 }
 
 .or-seperator {
     margin: 20px 0 10px;
     text-align: center;
     border-top: 1px solid #ccc;
   
 }
 .btn-get-started {
     font-weight: 500;
     font-size: 14px;
     letter-spacing: 1px;
     display: inline-block;
     padding: 10px 20px;
     border-radius: 4px;
     transition: 0.5s;
     line-height: 1;
     color: #fff;
     border:0.1px solid #3A8F87;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     background: #3A8F87;
     /* margin-top:35%; */
     font-family: 'Source Sans Pro', sans-serif;
   }
   
   .btn-get-started:hover {
     background: #ef6603;
   }
 .or-seperator i {
     padding: 0 10px;
     background: #f7f7f7;
     position: relative;
     top: -11px;
     z-index: 1;
     border-top: 1px solid #ccc;
     border-radius: 10px;
 }
 .social-btn{
     /* margin-left: 10%; */
 }
 .social-btn .btn {
     /* width: 10%; */
     display: inline-block;
          margin: 10px ;
         border-radius: 5px;
        
         min-height: 15px;
         -webkit-animation-delay: 0.8s;
         animation-delay: 0.8s;
         /* margin-top:35%; */
         /* margin-left: 20%; */
         font-family: 'Source Sans Pro', sans-serif;
           
     }
     .social-btn .btn i {
         float: center;
         margin: 4px 4px  4px 4px;
         min-width: 15px;
         font-size: large;
         font-weight: 700;
         text-align: center;
         /* padding: 10px 10px; */
     }
   
  .social-links a:hover {
     background: #bd5102;
     color: #fff;
     text-decoration: none;
   }
     .txt1{
         
         font-family: 'Montserrat', sans-serif;
        color: #3A8F87;padding-top: 30px;font-weight: 700;
     }
     .txt2{
         font-family: 'Montserrat', sans-serif; padding-top: 200px;text-align: center;color: white;font-weight: 700;
     }
     .txt3{
         font-family: 'Source Sans Pro', sans-serif; padding-top: 20px;text-align: center;color: white;
     }
     .txt4{
         border:1px solid white;
         /* padding:3px 10px 3px 10px;text-align: center;margin-left: 300px;border-radius: 8px;color: white;background-color:#3A8F87;border: 1px solid white; */
         font-weight: 500;
         font-size: 14px;
         letter-spacing: 1px;
         display: inline-block;
         padding: 10px 20px;
         border-radius: 4px;
         transition: 0.5s;
         line-height: 1;
         color: #fff;
         /* border:0.1px solid #3A8F87; */
         -webkit-animation-delay: 0.8s;
         animation-delay: 0.8s;
         background: #3A8F87;
         /* margin-top:35%; */
        
         font-family: 'Source Sans Pro', sans-serif;    }
     .txt5{
         font-family: 'Source Sans Pro', sans-serif;;padding:0px 30px 0px 30px;text-align: center;margin-left: 80px;color: white;background-color:#3A8F87;border: 1px solid white;border-radius: 5px;
     }
     /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
     .welcome{
         background-color: #3A8F87;
         border: 1px solid #ef6603; 
         height: 450px;
     }.signup-container{
         height: 1000px;
         margin: 10px;
     color: #5A5858;
     }
     .txt2{
          padding-top: 100px;
          
     }
        
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
     .welcome{
         background-color: #3A8F87;
         border: 1px solid #ef6603; 
         height: 450px;
     }.signup-container{
         height: 1000px;
         margin: 10px;
     color: #5A5858;
     }
     .txt2{
         padding-top: 100px;
         
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .welcome{
         background-color: #3A8F87;
         border: 1px solid #ef6603; 
         height: 650px;
     }.signup-container{
         height: 620px;
         margin: 10px;
     color: #5A5858;
     }
     .txt2{
         padding-top: 200px;
         
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
     .welcome{
         background-color: #3A8F87;
         border: 1px solid #ef6603; 
         height: 650px;
     }.signup-container{
         height: 620px;
         margin: 10px;
     color: #5A5858;
     }
     .txt2{
         padding-top: 200px;
         
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    
 .welcome{
     background-color: #3A8F87;
     border: 1px solid #ef6603; 
     height: 650px;
 }.signup-container{
     height: 620px;
     margin: 10px;
 color: #5A5858;
 }
 .txt2{
     padding-top: 200px;
     
 }
 }