<div class="felling ">
    <h3>Try to identify the dominant thought in your mind which is leading to
        this feeling of --<span class="mt-3">Mark the type of thought which is
            matching closest to the dominant thought in your mind</span></h3>
</div>
<div class="thoughtarea">

    <div class="thought-box">
        <div>
            <h3>Thoughts is related to - I, Me & Myself <span>example -</span></h3>
            
        </div>
        <ul>
            <li>
                <figure><img src="assets/img/ic1.png" /> </figure> My Ego
            </li>
            <li>
                <figure><img src="assets/img/ic2.png" /> </figure> My Belongings
            </li>
            <li>
                <figure><img src="assets/img/ic3.png" /> </figure> My Career
            </li>
            <li>
                <figure><img src="assets/img/ic4.png" /> </figure> My Health
            </li>
            <li>
                <figure><img src="assets/img/ic5.png" /> </figure> My Achievements
            </li>
            <li>
                <figure><img src="assets/img/ic6.png" /> </figure> My Finances
            </li>
            <li>
                <figure><img src="assets/img/ic7.png" /> </figure> My Feelings
            </li>
            <li>
                <figure><img src="assets/img/ic8.png" /> </figure> My Comfort
            </li>
            <li>
                <figure><img src="assets/img/ic9.png" /> </figure> My Image
            </li>

        </ul>

        <div class="text-right"><input type="checkbox" class="custom_checkbox"
                id="mood3">
            <label for="mood3"></label>
        </div>

    </div>
    <div class="thought-box">
        <div>
            <h3>Thought is related to Family, Friends & Colleagues <span>example -</span></h3>
        </div>
        <ul>
            <li>
                <figure><img src="assets/img/ic10.png" /> </figure> Partner
            </li>
            <li>
                <figure><img src="assets/img/ic11.png" /> </figure> Siblings
            </li>
            <li>
                <figure><img src="assets/img/ic12.png" /> </figure> Colleagues
            </li>
            <li>
                <figure><img src="assets/img/ic13.png" /> </figure> Kids
            </li>
            <li>
                <figure><img src="assets/img/ic14.png" /> </figure> Relationships
            </li>
            <li>
                <figure><img src="assets/img/ic15.png" /> </figure> Classmates
            </li>
            <li>
                <figure><img src="assets/img/ic16.png" /> </figure> Parents
            </li>
            <li>
                <figure><img src="assets/img/ic17.png" /> </figure> Friends
            </li>
            <li>
                <figure><img src="assets/img/ic18.png" /> </figure> Competitors
            </li>

        </ul>
        <div class="text-right"><input type="checkbox" class="custom_checkbox"
                id="mood4">
            <label for="mood4"></label>
        </div>

    </div>

    <div class="thought-box">
        <div>
            <h3>Thoughts is related to Community, Society & Public <span>example -</span></h3>
        </div>
        <ul>
            <li>
                <figure><img src="assets/img/ic19.png" /> </figure> Neighbours
            </li>
            <li>
                <figure><img src="assets/img/ic20.png" /> </figure> Social Issues
            </li>
            <li>
                <figure><img src="assets/img/ic21.png" /> </figure> Public Health
            </li>
            <li>
                <figure><img src="assets/img/ic22.png" /> </figure> Community welfare
            </li>
            <li>
                <figure><img src="assets/img/ic23.png" /> </figure> Society Needs
            </li>
            <li>
                <figure><img src="assets/img/ic24.png" /> </figure> Environmental
                issues
            </li>
            <li>
                <figure><img src="assets/img/ic25.png" /> </figure> Community Problems
            </li>
            <li>
                <figure><img src="assets/img/ic26.png" /> </figure> Social Service
            </li>
            <li>
                <figure><img src="assets/img/ic27.png" /> </figure> Global Issues
            </li>

        </ul>
        <div class="text-right"><input type="checkbox" class="custom_checkbox"
                id="mood5">
            <label for="mood5"></label>
        </div>

    </div>


</div>