.blog {
    width: auto!important;
    overflow: hidden;
    /* overflow-x: hidden!important; */
  }
  
  .blog .sidebar {
    padding: 30px;
    margin: 0 0 60px 0px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    /* width: auto!important; */
    /* overflow-x: hidden!important; */
  }
  .blog .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #254e45;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;    }
  
  .blog .sidebar .sidebar-item {
    margin-bottom: 30px;
    color: #254e45;
    font-family: 'Montserrat', sans-serif;    }
  
  .blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  .blog .sidebar .search-form form input[type="text"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 40px);
  }
  
  .blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    background: #ef6603;
    opacity: 1;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
  }
  
  .blog .sidebar .search-form form button:hover {
    background: #ef6603;
  }
  
  .blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .blog .sidebar .categories ul li + li {
    padding-top: 10px;
  }
  
  .blog .sidebar .categories ul a {
   
    transition: 0.3s;
    color:#5A5858;
    font-family: 'Source Sans Pro', sans-serif;    }
  
  .blog .sidebar .categories ul a:hover {
    color: #ef6603;
  }
  
  .blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
  }
  
  .blog .sidebar .recent-posts .post-item + .post-item {
    margin-top: 15px;
  }
  .or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
  
  }
  
  .blog .sidebar .recent-posts img {
    width: 80px;
    /* height: 80px; */
    float: left;
  }
  
  .blog .sidebar .recent-posts video {
    width: 80px;
    /* height: 80px; */
    float: left;
  }
  
  .blog .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
  }
  
  .blog .sidebar .recent-posts h4 a {
    color: black;
    transition: 0.3s;
  }
  
  .blog .sidebar .recent-posts h4 a:hover {
    color: #ef6603;
  }
  
  .blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: #777777;
  }
  
  .blog .sidebar .tags {
    margin-bottom: -10px;
  }
  
  .blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
  }
  
  .blog .sidebar .tags ul li {
    display: inline-block;
  }
  
  .blog .sidebar .tags ul a {
    color: #515151;
    font-size: 14px;
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #dddddd;
    display: inline-block;
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .blog .sidebar .tags ul .tagSelected {
    color: #fff;
  }
  
  
  .blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #ef6603;
    background: #ef6603;
  }
  
  .tagSelected {
    color: #fff;
    border: 1px solid #ef6603;
    background: #ef6603;
  }
  
  .blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 14px;
  }
  
  .blog .blog-title a {
    color: #254e45;
    font-family: 'Montserrat', sans-serif;    transition: 0.3s;
  }
  
  .blog .blog-title a:hover {
    color: #ef6603;
    text-decoration: none;
    cursor: pointer;
  }