<div class="main-wrapper home">
    <div class="main-head">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 order-first">
                    <div class="personal-des">
                        <p>
                            Learn to manage your 8 pleasant & unpleasant emotions and their
                            impact across all four layers. Practice emotional self-care to
                            achieve emotional, physical, and social wellbeing through
                        </p>

                        <ul>
                            <li>
                                Self-learning Courses for Depression, Anxiety, Stress & more
                            </li>
                            <li>Self-Healing Guided Meditation sessions</li>
                            <li>Emotional Self- assessment</li>
                            <li>Sleep exercises & Relaxing Music</li>
                            <li>Mood and Thought tracker</li>
                        </ul>

                        <div class="personal-watermark">Personal</div>
                    </div>
                </div>
                <div class="col-lg-6 order-last">
                    <div class="rht-img personal">
                        <img src="assets/img/personal.svg" alt="" class="mood-img" />
                    </div>
                </div>
            </div>

            <div class="subsc-btn">
                <button type="button" class="radis-btn" data-toggle="modal" data-target="#sign-in">
                    <a href="https://wa.me/918897045351" style="color: #fff;" class="float" target="_blank">Subscribe</a>
                </button>
            </div>
        </div>
    </div>
    <div class="container partner">
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="assets/img/Corporate.png" alt="" />
            </div>
            <div class="col-lg-6 partner-des">
                <p>
                    Improve emotional well-being of your associates to create an
                    emotionally healthy, intelligent and resilient team. We work with
                    partners including Corporates, Yoga & fitness centers, Mindfulness &
                    Meditation centers, online mental health communities & many more, to
                    promote emotional wellness of their members through
                </p>
                <ul>
                    <li>Training for program ambassadors</li>
                    <li>Emotional wellbeing assessment of the team</li>
                    <li>Webinar, emailer, and Presentations</li>
                    <li>Support from Coaches</li>
                    <li>Team Progress reports & charts</li>
                </ul>
                <div class="partner-watermark">Partner</div>
            </div>
        </div>
        <div class="getin-btn">
            <button type="button" class="radis-btn" data-toggle="modal" data-target="#sign-in">
                <a href="https://wa.me/918897045351" style="color: #fff;" class="float" target="_blank">Get in Touch</a>
            </button>
        </div>
    </div>
</div>